{% extends 'purchase_order_management/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <hr>

    <table id="clientList">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Total Amount</th>
                <th>Client Amount Due</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{client.client_name}}</td>
                    <td>{{client.client_total_amount}}</td>
                    <td>{{client.client_amount_due}}</td>
                    <td>
                        <center>
                            <button type="button" class="update-client-list btn btn-sm btn-primary" data-id="{% url 'purchase_order_management:update_client_list' client.pk %}">
                                <span class="fa fa-pencil">Update</span>
                            </button>
                        </center>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>

{% endblock %}

{% block extrascripts %}

    <script>
        $(document).ready( function () {
            $('#clientList').DataTable();
        } );
    </script>

    <script type="text/javascript">
        $(function () {
            // Update Client List
            $(".update-client-list").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });

        });
</script>    
{% endblock%}