{% extends 'purchase_order_management/base.html' %}

{% load client_list_filters %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <hr>
    <center><button class="create-client-list btn btn-primary" type="button" name="button">Create Client</button></center>
    <hr>
    <table id="clientList">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Total Amount</th>
                <th>Client Amount Due</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{client.client_name}}</td>
                    <td>{{clients_total_amount|get_item:client.pk}}</td>
                    <td>{{clients_total_amount_due|get_item:client.pk}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>

{% endblock %}

{% block extrascripts %}

    <script>
        $(document).ready( function () {
            $('#clientList').DataTable();
        } );
    </script>

    <script type="text/javascript">
        $(function () {
            // Create client button
            $(".create-client-list").modalForm({formURL: "{% url 'purchase_order_management:create_client_list' %}"});
            });
    </script>
{% endblock%}