{% extends 'purchase_order_management/base.html' %}

{% block content %}
<hr>

<h1>Fill Purchase Orders Details</h1>

<hr>

<!--GENERAL DETAILS FORM STARTS-->
<!--TEXT FIELDS START HERE-->
<form action={% url 'purchase_order_management:purchase_order_form_submit' %} method="post">
	{% csrf_token %}
	<div class="form-row">
		<div class="col">
			<label for="purchase_order_name">Purchase Order Name</label>
			<input type="text" class="form-control" id="purchase_order_name" name="purchase_order_name" required>
		</div>
		<div class="col">
			<label for="purchase_order_number">Purchase Order Number</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_number" name="purchase_order_number" required>
		</div>
		<div class="col">
			<label for="purchase_order_po_number">PO Number</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_po_number" name="purchase_order_po_number" required>
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="purchase_order_item">Items</label>
			<input type="text" class="form-control" id="purchase_order_item" name="purchase_order_item" required>
		</div>
		<div class="col">
			<label for="purchase_order_item_quantity">Quantity</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_item_quantity" name="purchase_order_item_quantity" required>
		</div>
		<div class="col">
			<label for="purchase_order_size">Size</label>
			<input type="number" step="0.01" min="0" class="form-control" id="purchase_order_size" name="purchase_order_size" required>
		</div>
		<div class="col">
			<label for="purchase_order_number_of_columns">Number of Columns</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_number_of_columns" name="purchase_order_number_of_columns" required>
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="purchase_order_purchase_date">Purchase Date</label>
			<input type="date" class="form-control" id="purchase_order_purchase_date" name="purchase_order_purchase_date" required>
		</div>
		<div class="col">
			<label for="purchase_order_purchase_by">Purchase By</label>
			<input type="date" class="form-control" id="purchase_order_purchase_by" name="purchase_order_purchase_by" required>
		</div>

		<div class="col">
				<label for="purchase_order_client">Client</label>
					<div class="form-group">
						<select class="form-control" id="purchase_order_client" name="purchase_order_client">
							{% for client in clients %}
							<option value={{ client.pk }}>{{ client.client_name }}</option>
							{% endfor %}
						</select>
					</div>
		</div>
		<div class="col">
				<label for="purchase_order_amount">Amount</label>
				<input type="number" step="0.01" min="0" class="form-control" id="purchase_order_amount" name="purchase_order_amount" required>
			</div>
	</div>
	<!--TEXTFIELDS END HERE-->
	<br>


	<!--CHECKBOX STARTS HERE-->
	<div class="form-row">
		<label>Select the details you want : </label>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="paper_checkbox" class="checkbox-inline">Paper</label>
			<input type="checkbox" value="paper" id="paper_checkbox" name="paper_checkbox">
		</div>

		{% comment %} <div class="col">
			<label for="packaging_checkbox" class="checkbox-inline">Packaging</label>
			<input type="checkbox" value="packaging" id="packaging_checkbox" name="packaging_checkbox">
		</div> {% endcomment %}

		<div class="col">
			<label for="binding_checkbox" class="checkbox-inline">Binding</label>
			<input type="checkbox" value="binding" id="binding_checkbox" name="binding_checkbox">
		</div>

		<div class="col">
			<label for="ctp_checkbox" class="checkbox-inline">CTP</label>
			<input type="checkbox" value="ctp" id="ctp_checkbox" name="ctp_checkbox">
		</div>

		<div class="col">
			<label for="specialprocess_checkbox" class="checkbox-inline">Special Process</label>
			<input type="checkbox" value="specialprocess" id="specialprocess_checkbox" name="specialprocess_checkbox">
		</div>

		<div class="col">
			<label for="raiseuv_checkbox" class="checkbox-inline">Raise</label>
			<input type="checkbox" value="raiseuv" id="raiseuv_checkbox" name="raiseuv_checkbox">
		</div>

	</div>

	<div class="form-row">
		<div class="col">
			<label class="vanish_checkbox">Vanish</label>
			<input type="checkbox" value="binding" id="vanish_checkbox" name="vanish_checkbox">
		</div>

		<div class="col">
			<label for="lamination_checkbox" class="checkbox-inline">Lamination</label>
			<input type="checkbox" value="lamination" id="lamination_checkbox" name="lamination_checkbox">
		</div>

		<div class="col">
			<label for="punch_checkbox" class="checkbox-inline">Punch</label>
			<input type="checkbox" value="punch" id="punch_checkbox" name="punch_checkbox">
		</div>

		<div class="col">
			<label for="cutting_checkbox" class="checkbox-inline">Cutting</label>
			<input type="checkbox" value="cutting" id="cutting_checkbox" name="cutting_checkbox">
		</div>

		<div class="col">
			<label for="punching_checkbox" class="checkbox-inline">Punching</label>
			<input type="checkbox" value="punching" id="punching_checkbox" name="punching_checkbox">
		</div>

		<div class="col">
			<label for="pasting_checkbox" class="checkbox-inline">Pasting</label>
			<input type="checkbox" value="pasting" id="pasting_checkbox" name="pasting_checkbox">
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="folding_checkbox" class="checkbox-inline">Folding</label>
			<input type="checkbox" value="folding" id="folding_checkbox" name="folding_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="creasing_checkbox" class="checkbox-inline">Creasing</label>
			<input type="checkbox" value="creasing" id="creasing_checkbox" name="creasing_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="positive_checkbox" class="checkbox-inline">Positive</label>
			<input type="checkbox" value="positive" id="positive_checkbox" name="positive_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="uv_checkbox" class="checkbox-inline">UV</label>
			<input type="checkbox" value="uv" id="uv_checkbox" name="uv_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="fourcol_checkbox" class="checkbox-inline">4col</label>
			<input type="checkbox" value="fourcol" id="fourcol_checkbox" name="fourcol_checkbox">
		</div>

		<div class="col" id="aligned">
			<label> </label>
		</div>
	</div>
	<!--CHECKBOX ENDS HERE-->

<!--GENERAL DETAILS FORM ENDS-->
<br>
<!--FORM FOR THE SPECIFIC DETAILS STARTS HERE THEY ARE ONLY DISPLAYED WHEN THE USER CHECKS THE CHECKBOX-->
<!--PAPER DETAILS START-->
<div id="paper_form" style="display: none;">
	<hr>
	<h2>Paper Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="serial_number">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="paper_quantity" name="paper_quantity" >
			</div>

			<div class="col">
				<label for="paper_col">Color</label>
				<input class="form-control" type="text" id="paper_color" name="paper_color">
			</div>

			<div class="col">
				<label for="paper_size">Size</label>
				<input class="form-control" type="text" id="paper_size" name="paper_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="paper_gsm">GSM</label>
				<input class="form-control" type="text" id="paper_gsm" name="paper_gsm">
			</div>

			<div class="col">
				<label for="paper_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="paper_number_of_sheets" name="paper_number_of_sheets">
			</div>

			<div class="col">
				<label for="paper_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="paper_rate" name="paper_rate">
			</div>

			<div class="col">
				<label for="paper_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="paper_vendor" name="paper_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--PAPER DETAILS END-->

<!--PACKAGING DETAILS START
<div id="packaging_form" style="display: none;">
	<hr>
	<h2>Packaging Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="serial_number">Serial number</label>
				<input class="form-control" type="text" id="paper_serial_number" name="paper_serial_number">
			</div>

			<div class="col">
				<label for="paper_col">Col</label>
				<input class="form-control" type="text" id="paper_col" name="paper_col">
			</div>

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="paper_gsm_1">GSM</label>
				<input class="form-control" type="text" id="paper_gsm_1" name="paper_gsm_1">
			</div>

			<div class="col">
				<label for="number_of_sheets">Number of sheets</label>
				<input class="form-control" type="text" id="number_of_sheets">
			</div>
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>
		</div>
</div>
PACKAGING DETAILS END -->

<!--BINDING START-->
<div id="binding_form" style="display: none;">
	<hr>
	<h2>Binding</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="binding_pf">P/f</label>
				<input class="form-control" type="text" id="binding_pf" name="binding_pf">
			</div>

			<div class="col">
				<label for="binding_size">Size</label>
				<input class="form-control" type="text" id="binding_size" name="binding_size">
			</div>

			<div class="col">
				<label for="binding_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="binding_type" name="binding_type">
						<option value="side">Side</option>
						<option value="top">Top</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="binding_product">Binding Product</label>
				<div class="form-group">
					<select class="form-control" id="binding_product" name="binding_product">
						<option value="book">Book</option>
						<option value="pad">Pad</option>
					</select>
				</div>
			</div>

		</div>
			<div class="form-row">
				<div class="col">
					<label for="binding_quantity">Quantity</label>
					<input class="form-control" type="number" min="0" step="1" id="binding_quantity" name="binding_quantity">
				</div>

				<div class="col">
					<label for="binding_rate">Rate</label>
					<input class="form-control" type="number" step="0.01" min="0" id="binding_rate" name="binding_rate">
				</div>

				<div class="col">
					<label for="binding_binding_type">Binding Type</label>
					<div class="form-group">
						<select class="form-control" id="binding_binding_type" name="binding_binding_type">
							<option value="sada">Sada</option>
							<option value="dp">DP</option>
							<option value="threefold">3 fold</option>
							<option value="rexin">Rexin</option>
							<option value="cloth">Cloth</option>
							<option value="packet">Packet</option>
							<option value="custom">Custom</option>
						</select>
					</div>
				</div>

				<div class="col">
					<label for="binding_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="binding_vendor" name="binding_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
				</div>

		</div>
</div>

<!--BINDING END-->


<!--CTP START-->
<div id="ctp_form" style="display: none;">
	<hr>
	<h2>CTP</h2>
	<hr>
		<div class="form-row">

			<div class="col">
					<label for="ctp_type">Type</label>
					<div class="form-group">
						<select class="form-control" id="ctp_type" name="ctp_type">
							<option value="new">New</option>
							<option value="old">Old</option>
						</select>
					</div>
			</div>

			<div class="col">
				<label for="ctp_size">Size</label>
				<input class="form-control" type="text" id="ctp_size" name="ctp_size">
			</div>

			<div class="col">
					<label for="ctp_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="ctp_vendor" name="ctp_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
			</div>

		</div>

		<div class="form-row">
			<div class="col">
				<label for="ctp_number_of_plates">Number of Plates</label>
				<input class="form-control" type="text" id="ctp_number_of_plates" name="ctp_number_of_plates">
			</div>

			<div class="col">
				<label for="ctp_rate">Rate</label>
				<input class="form-control" type="text" id="ctp_rate" name="ctp_rate">
			</div>

			<div class="col">
				<label for="ctp_quantity">Quantity</label>
				<input class="form-control" type="text" id="ctp_quantity" name="ctp_quantity">
			</div>

		</div>
</div>
<!--CTP END-->

<!--SPECIAL PROCESS START-->
<div id="specialprocess_form" style="display: none;">
	<hr>
	<h2>Special Process</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="specialprocess_type">UV</label>
				<div class="form-group">
					<select class="form-control" id="specialprocess_type" name="specialprocess_type">
						<option value="embossing">Embossing</option>
						<option value="debossing">Debossing</option>
						<option value="foiling">Foiling</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="specialprocess_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="specialprocess_quantity" name="specialprocess_quantity">
			</div>

			<div class="col">
				<label for="specialprocess_impression">Impression</label>
				<input class="form-control" type="number" step="0.01" min="0" id="specialprocess_impression" name="specialprocess_impression">
			</div>

			<div class="col">
				<label for="specialprocess_size">Size</label>
				<input class="form-control" type="text" id="specialprocess_size" name="specialprocess_size">
			</div>

			<div class="col">
				<label for="specialprocess_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="specialprocess_rate" name="specialprocess_rate">
			</div>

			<div class="col">
					<label for="specialprocess_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="specialprocess_vendor" name="specialprocess_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
			</div>

		</div>
</div>
<!--SP END-->

<!--RAISEUV START-->
<div id="raiseuv_form" style="display: none;">
	<hr>
	<h2>Raise UV</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="raiseuv_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="raiseuv_type" name="raiseuv_type">
						<option value="pvc">PVC</option>
						<option value="bopp">BOPP</option>
						<option value="matt">Matt</option>
						<option value="thermal">Thermal</option>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>


			<div class="col">
				<label for="raiseuv_size">Size</label>
				<input class="form-control" type="text" id="raiseuv_size" name="raiseuv_size">
			</div>

			<div class="col">
				<label for="raiseuv_impression">Impression</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_impression" name="raiseuv_impression">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="raiseuv_vendor">Vendor</label>
				<div class="form-group">
							<select class="form-control" id="raiseuv_vendor" name="raiseuv_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
				</div>
			</div>

			<div class="col">
				<label for="raiseuv_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="raiseuv_number_of_sheets" name="raiseuv_number_of_sheets">
			</div>

			<div class="col">
				<label for="raiseuv_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="raiseuv_quantity" name="raiseuv_quantity">
			</div>

			<div class="col">
				<label for="raiseuv_length">Length</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_length" name="raiseuv_length">
			</div>
			
			<div class="col">
				<label for="raiseuv_breadth">Breadth</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_breadth" name="raiseuv_breadth">
			</div>

			<div class="col">
				<label for="raiseuv_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_rate" name="raiseuv_rate">
			</div>

		</div>
</div>

<!--RAISE END-->

<!--VANISH START-->
<div id="vanish_form" style="display: none;">
	<hr>
	<h2>Vanish</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="sel1">Type</label>
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>--Select Type--</option>
						<option>PVC</option>
						<option>BOPP</option>
						<option>Matt</option>
						<option>Thermal</option>
						<option>Custom</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="number_of_sheets">Number of sheets</label>
				<input class="form-control" type="text" id="number_of_sheets">
			</div>
		</div>
</div>
<!--VANISH END-->


<!--LAMINATION START-->
<div id="lamination_form" style="display: none;">
	<hr>
	<h2>Lamination</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="sel1">Type</label>
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>--Select Type--</option>
						<option>PVC</option>
						<option>BOPP</option>
						<option>Matt</option>
						<option>Thermal</option>
						<option>Custom</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="number_of_sheets">Number of sheets</label>
				<input class="form-control" type="text" id="number_of_sheets">
			</div>
		</div>
</div>
<!--LAMINATION END-->

<!--PUNCH START-->
<div id="punch_form" style="display: none;">
	<hr>
	<h2>Punch</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="No_sheets">No. of Sheets</label>
				<input class="form-control" type="text" id="no_sheets" name="no_sheets">
			</div>

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

		</div>
</div>
<!--PUNCH END-->

<!--CUTTING START-->
<div id="cutting_form" style="display: none;">
	<hr>
	<h2>Cutting</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="quantity">Quantity</label>
				<input class="form-control" type="text" id="quantity" name="quantity">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="paper_type">Paper</label>
				<input class="form-control" type="text" id="paper_type" name="paper_type">
			</div>


		</div>

</div>
<!--CUTTING END-->

<!--PUNCHING START-->
<div id="punching_form" style="display: none;">
	<hr>
	<h2>Punching</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="quantity">Quantity</label>
				<input class="form-control" type="text" id="quantity" name="quantity">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="imp">Imp</label>
				<input class="form-control" type="text" id="imp" name="imp">
			</div>


		</div>

</div>
<!--PUNCHING END-->

<!--PASTING START-->
<div id="pasting_form" style="display: none;">
	<hr>
	<h2>Pasting</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="No_pasting">No. of Pasting</label>
				<input class="form-control" type="text" id="No_pasting" name="No_pasting">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="quantity">Quantity</label>
				<input class="form-control" type="text" id="quantity" name="quantity">
			</div>


		</div>
</div>
<!--PASTING END-->

<!--FOLDING START-->
<div id="folding_form" style="display: none;">
	<hr>
	<h2>Folding</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="quantity">Quantity</label>
				<input class="form-control" type="text" id="quantity" name="quantity">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="imp">Imp</label>
				<input class="form-control" type="text" id="imp" name="imp">
			</div>
		</div>
</div>
<!--FOLDING END-->

<!--CREASING START-->
<div id="creasing_form" style="display: none;">
	<hr>
	<h2>Creasing</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>

			<div class="col">
				<label for="quantity">Quantity</label>
				<input class="form-control" type="text" id="quantity" name="quantity">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="imp">Imp</label>
				<input class="form-control" type="text" id="imp" name="imp">
			</div>


		</div>
</div>
<!--CREASING END-->



<!--POSITIVE START-->
<div id="positive_form" style="display: none;">
	<hr>
	<h2>Positive</h2>
	<hr>
		<div class="form-row">

			<div class="col">
				<label for="sel1">Type</label>
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>--Select Type--</option>
						<option>PVC</option>
						<option>BOPP</option>
						<option>Matt</option>
						<option>Thermal</option>
						<option>Custom</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>

			<div class="col">
				<label for="number_of_sheets">Number of sheets</label>
				<input class="form-control" type="text" id="number_of_sheets">
			</div>
		</div>
</div>
<!--POSITIVE END-->

<!--UV START-->
<div id="uv_form" style="display: none;">
	<hr>
	<h2>UV</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="sel1">Type</label>
				<div class="form-group">
					<select class="form-control" id="sel1">
						<option>--Select Type--</option>
						<option>PVC</option>
						<option>BOPP</option>
						<option>Matt</option>
						<option>Thermal</option>
						<option>Custom</option>
					</select>
				</div>
			</div>
			<div class="col">
				<label for="paper_size_1">Size</label>
				<input class="form-control" type="text" id="paper_size_1" name="paper_size_1">
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="print_vendor">Vendor</label>
				<input class="form-control" type="text" id="print_vendor" name="print_vendor">
			</div>
			<div class="col">
				<label for="number_of_sheets">Number of sheets</label>
				<input class="form-control" type="text" id="number_of_sheets">
			</div>
		</div>
</div>
<!--UV END-->
<!--4COL START-->
<div id="fourcol_form" style="display: none;">
	<hr>
	<h2>4Col</h2>
	<hr>
		<div class="form-row">
		 <div class="col">
			<label for="fourcol_for">Type</label>
			<div class="form-group">
				<select class="form-control" id="fourcol_for" name="fourcol_for">
					<option>--Select Type--</option>
					<option value="vcard">V Cards</option>
					<option value="lheads">L Heads</option>
					<option value="env">Env</option>
					<option value="pamp">Pamp</option>
				</select>
			</div>
		</div>


		<div class="col">
			<label for="fourcol_type">Type</label>
			<div class="form-group">
				<select class="form-control" id="fourcol_type" name ="fourcol_type">
					<option>--Select Type--</option>
					<option value="single">Single</option>
					<option value="frontback">Front Back</option>
				</select>
			</div>
		</div>
		<div class="col">
			<label for="fourcol_size">Size</label>
			<input class="form-control" type="text" id="fourcol_size" name="fourcol_size">
		</div>
		<div class="col">
			<label for="print_vendor">Vendor</label>
			<input class="form-control" type="text" id="print_vendor" name="print_vendor">
		</div>

	</div>
</div>
<hr>
<div>
 	<input type="submit" class="btn btn-info btn-block" id="purchaseOrderFormSubmitBtn">
</div>
</form>


<!--FORM FOR SPECIFIC DETAILS END HERE-->
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#raise_checkbox').change(function() {
			$('#raise_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#vanish_checkbox').change(function() {
			$('#vanish_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#lamination_checkbox').change(function() {
			$('#lamination_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#punch_checkbox').change(function() {
			$('#punch_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#cutting_checkbox').change(function() {
			$('#cutting_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#punching_checkbox').change(function() {
			$('#punching_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#pasting_checkbox').change(function() {
			$('#pasting_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#folding_checkbox').change(function() {
			$('#folding_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#creasing_checkbox').change(function() {
			$('#creasing_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#positive_checkbox').change(function() {
			$('#positive_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#uv_checkbox').change(function() {
			$('#uv_form').fadeToggle();
		});
	});

</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fourcol_checkbox').change(function() {
			$('#fourcol_form').fadeToggle();
		});
	});

</script>

<!--Atleast one check box checked.-->
<script>
	$(document).ready(function () {
    $('#purchaseOrderFormSubmitBtn').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("You must select atleast one process.");
        return false;
      }

    });
});
</script>

<!--If checkbox is checked then the input should be compulsory for paper checkbox-->

<script>
	$(function() {
  var checkbox = $("#paper_checkbox");
  var hidden = $("#paper_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#paper_quantity').prop('required', true); //to add required
	  $('#paper_color').prop('required', true);
	  $('#paper_gsm').prop('required', true);
	  $('#paper_number_of_sheets').prop('required', true);
	  $('#paper_rate').prop('required', true);
	  $('#paper_size').prop('required', true);
	  $('#paper_vendor').prop('required', true);
    } else {
      hidden.hide();
      $("#paper_quantity").val("");
      $('#paper_quantity').prop('required', false); //to remove required
	  $("#paper_color").val("");
      $('#paper_color').prop('required', false);
	  $("#paper_gsm").val("");
      $('#paper_gsm').prop('required', false);
	  $("#paper_number_of_sheets").val("");
      $('#paper_number_of_sheets').prop('required', false);
	  $("#paper_rate").val("");
      $('#paper_rate').prop('required', false);
	  $("#paper_size").val("");
      $('#paper_size').prop('required', false);
	  $("#paper_vendor").val("");
      $('#paper_vendor').prop('required', false);
	  
    }
  });
});
</script>
<script>
$(function() {
  var checkbox = $("#binding_checkbox");
  var hidden = $("#binding_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#binding_quantity').prop('required', true); //to add required
	  $('#binding_rate').prop('required', true);
	  $('#binding_size').prop('required', true);
	  $('#binding_vendor').prop('required', true);
	  $('#binding_pf').prop('required', true);
	  $('#binding_product').prop('required', true);
	  $('#binding_binding_type').prop('required', true);
	  $('#binding_type').prop('required', true);
    } else {
      hidden.hide();
      $("#binding_quantity").val("");
      $('#binding_quantity').prop('required', false); //to remove required

	  $("#binding_rate").val("");
      $('#binding_rate').prop('required', false);

	  $("#binding_size").val("");
      $('#binding_size').prop('required', false);

	  $("#binding_vendor").val("");
      $('#binding_vendor').prop('required', false);

	  $("#binding_pf").val("");
      $('#binding_pf').prop('required', false);

	  $("#binding_product").val("");
      $('#binding_product').prop('required', false);

	  $("#binding_binding_type").val("");
      $('#binding_binding_type').prop('required', false);

	  $("#binding_type").val("");
      $('#binding_type').prop('required', false);	  
    }
  });
});
</script>

<script>

$(function() {
  var checkbox = $("#ctp_checkbox");
  var hidden = $("#ctp_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#ctp_quantity').prop('required', true); //to add required
	  $('#ctp_rate').prop('required', true);
	  $('#ctp_size').prop('required', true);
	  $('#ctp_vendor').prop('required', true);
	  $('#ctp_number_of_plates').prop('required', true);
	  $('#ctp_type').prop('required', true);
    } else {
      hidden.hide();
      $("#ctp_quantity").val("");
      $('#ctp_quantity').prop('required', false); //to remove required

	  $("#ctp_rate").val("");
      $('#ctp_rate').prop('required', false);

	  $("#ctp_size").val("");
      $('#ctp_size').prop('required', false);

	  $("#ctp_vendor").val("");
      $('#ctp_vendor').prop('required', false);

	  $("#ctp_number_of_plates").val("");
      $('#ctp_number_of_plates').prop('required', false);

	  $("#ctp_type").val("");
      $('#ctp_type').prop('required', false);

    }
  });
});

</script>


<script>

$(function() {
  var checkbox = $("#specialprocess_checkbox");
  var hidden = $("#specialprocess_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#specialprocess_quantity').prop('required', true); //to add required
	  $('#specialprocess_rate').prop('required', true);
	  $('#specialprocess_size').prop('required', true);
	  $('#specialprocess_vendor').prop('required', true);
	  $('#specialprocess_impression').prop('required', true);
	  $('#specialprocess_type').prop('required', true);
    } else {
      hidden.hide();
      $("#specialprocess_quantity").val("");
      $('#specialprocess_quantity').prop('required', false); //to remove required

	  $("#specialprocess_rate").val("");
      $('#specialprocess_rate').prop('required', false);

	  $("#specialprocess_size").val("");
      $('#specialprocess_size').prop('required', false);

	  $("#specialprocess_vendor").val("");
      $('#specialprocess_vendor').prop('required', false);

	  $("#specialprocess_impression").val("");
      $('#specialprocess_impression').prop('required', false);

	  $("#specialprocess_type").val("");
      $('#specialprocess_type').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#raiseuv_checkbox");
  var hidden = $("#raiseuv_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#raiseuv_type').prop('required', true); //to add required
	  $('#raiseuv_size').prop('required', true);
	  $('#raiseuv_number_of_sheets').prop('required', true);
	  $('#raiseuv_quantity').prop('required', true);
	  $('#raiseuv_length').prop('required', true);
	  $('#raiseuv_breadth').prop('required', true);
	  $('#raiseuv_rate').prop('required', true);
	  $('#raiseuv_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#raiseuv_type").val("");
      $('#raiseuv_type').prop('required', false); //to remove required

	  $("#raiseuv_size").val("");
      $('#raiseuv_size').prop('required', false);

	  $("#raiseuv_number_of_sheets").val("");
      $('#raiseuv_number_of_sheets').prop('required', false);

	  $("#raiseuv_quantity").val("");
      $('#raiseuv_quantity').prop('required', false);

	  $("#raiseuv_length").val("");
      $('#raiseuv_length').prop('required', false);

	  $("#raiseuv_breadth").val("");
      $('#raiseuv_breadth').prop('required', false);

	  $("#raiseuv_rate").val("");
      $('#raiseuv_rate').prop('required', false);

	  $("#raiseuv_vendor").val("");
      $('#raiseuv_vendor').prop('required', false);

    }
  });
});

</script>

{% endblock extrascripts %}
