{% extends 'purchase_order_management/base.html' %}

{% block content %}
<hr>

<h1>Fill Purchase Orders Details</h1>

<hr>

<!--GENERAL DETAILS FORM STARTS-->
<!--TEXT FIELDS START HERE-->
<form action={% url 'purchase_order_management:purchase_order_form_submit' %} method="post">
	{% csrf_token %}
	<div class="form-row">
		<div class="col">
			<label for="purchase_order_name">Purchase Order Name</label>
			<input type="text" class="form-control" id="purchase_order_name" name="purchase_order_name" required>
		</div>
		<div class="col">
			<label for="purchase_order_number">Purchase Order Number</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_number" name="purchase_order_number" required>
		</div>
		<div class="col">
			<label for="purchase_order_po_number">PO Number</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_po_number" name="purchase_order_po_number" required>
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="purchase_order_item">Items</label>
			<input type="text" class="form-control" id="purchase_order_item" name="purchase_order_item" required>
		</div>
		<div class="col">
			<label for="purchase_order_item_quantity">Quantity</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_item_quantity" name="purchase_order_item_quantity" required>
		</div>
		<div class="col">
			<label for="purchase_order_size">Size</label>
			<input type="number" step="0.01" min="0" class="form-control" id="purchase_order_size" name="purchase_order_size" required>
		</div>
		<div class="col">
			<label for="purchase_order_number_of_columns">Number of Columns</label>
			<input type="number" step="1" min="0" class="form-control" id="purchase_order_number_of_columns" name="purchase_order_number_of_columns" required>
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="purchase_order_purchase_date">Purchase Date</label>
			<input type="date" class="form-control" id="purchase_order_purchase_date" name="purchase_order_purchase_date" required>
		</div>
		<div class="col">
			<label for="purchase_order_purchase_by">Purchase By</label>
			<input type="date" class="form-control" id="purchase_order_purchase_by" name="purchase_order_purchase_by" required>
		</div>

		<div class="col">
				<label for="purchase_order_client">Client</label>
					<div class="form-group">
						<select class="form-control" id="purchase_order_client" name="purchase_order_client">
							{% for client in clients %}
							<option value={{ client.pk }}>{{ client.client_name }}</option>
							{% endfor %}
						</select>
					</div>
		</div>
		<div class="col">
				<label for="purchase_order_amount">Amount</label>
				<input type="number" step="0.01" min="0" class="form-control" id="purchase_order_amount" name="purchase_order_amount" required>
			</div>
	</div>
	<!--TEXTFIELDS END HERE-->
	<br>


	<!--CHECKBOX STARTS HERE-->
	<div class="form-row">
		<label>Select the details you want : </label>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="paper_checkbox" class="checkbox-inline">Paper</label>
			<input type="checkbox" value="paper" id="paper_checkbox" name="paper_checkbox">
		</div>

		<div class="col">
			<label for="printing_checkbox" class="checkbox-inline">Printing</label>
			<input type="checkbox" value="printing" id="printing_checkbox" name="printing_checkbox">
		</div> 

		<div class="col">
			<label for="binding_checkbox" class="checkbox-inline">Binding</label>
			<input type="checkbox" value="binding" id="binding_checkbox" name="binding_checkbox">
		</div>

		<div class="col">
			<label for="ctp_checkbox" class="checkbox-inline">CTP</label>
			<input type="checkbox" value="ctp" id="ctp_checkbox" name="ctp_checkbox">
		</div>

		<div class="col">
			<label for="specialprocess_checkbox" class="checkbox-inline">Special Process</label>
			<input type="checkbox" value="specialprocess" id="specialprocess_checkbox" name="specialprocess_checkbox">
		</div>

		<div class="col">
			<label for="raiseuv_checkbox" class="checkbox-inline">Raise</label>
			<input type="checkbox" value="raiseuv" id="raiseuv_checkbox" name="raiseuv_checkbox">
		</div>

	</div>

	<div class="form-row">
		<div class="col">
			<label class="varnish_checkbox">Varnish</label>
			<input type="checkbox" value="varnish" id="varnish_checkbox" name="varnish_checkbox">
		</div>

		<div class="col">
			<label for="lamination_checkbox" class="checkbox-inline">Lamination</label>
			<input type="checkbox" value="lamination" id="lamination_checkbox" name="lamination_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="positive_checkbox" class="checkbox-inline">Positive</label>
			<input type="checkbox" value="positive" id="positive_checkbox" name="positive_checkbox">
		</div>

		<div class="col">
			<label for="cutting_checkbox" class="checkbox-inline">Cutting</label>
			<input type="checkbox" value="cutting" id="cutting_checkbox" name="cutting_checkbox">
		</div>

		<div class="col">
			<label for="punching_checkbox" class="checkbox-inline">Punching</label>
			<input type="checkbox" value="punching" id="punching_checkbox" name="punching_checkbox">
		</div>

		<div class="col">
			<label for="pasting_checkbox" class="checkbox-inline">Pasting</label>
			<input type="checkbox" value="pasting" id="pasting_checkbox" name="pasting_checkbox">
		</div>
	</div>

	<div class="form-row">
		<div class="col">
			<label for="folding_checkbox" class="checkbox-inline">Folding</label>
			<input type="checkbox" value="folding" id="folding_checkbox" name="folding_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="creasing_checkbox" class="checkbox-inline">Creasing</label>
			<input type="checkbox" value="creasing" id="creasing_checkbox" name="creasing_checkbox">
		</div>

		<div class="col">
			<label for="punch_checkbox" class="checkbox-inline">Punch</label>
			<input type="checkbox" value="punch" id="punch_checkbox" name="punch_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="block_checkbox" class="checkbox-inline">Block</label>
			<input type="checkbox" value="block" id="block_checkbox" name="block_checkbox">
		</div>

		<div class="col" id="aligned">
			<label for="fourcol_checkbox" class="checkbox-inline">4col</label>
			<input type="checkbox" value="fourcol" id="fourcol_checkbox" name="fourcol_checkbox">
		</div>

		<div class="col" id="aligned">
			<label> </label>
		</div>
	</div>
	<!--CHECKBOX ENDS HERE-->

<!--GENERAL DETAILS FORM ENDS-->
<br>
<!--FORM FOR THE SPECIFIC DETAILS STARTS HERE THEY ARE ONLY DISPLAYED WHEN THE USER CHECKS THE CHECKBOX-->
<!--PAPER DETAILS START-->
<div id="paper_form" style="display: none;">
	<hr>
	<h2>Paper Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="serial_number">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="paper_quantity" name="paper_quantity" >
			</div>

			<div class="col">
				<label for="paper_col">Color</label>
				<input class="form-control" type="text" id="paper_color" name="paper_color">
			</div>

			<div class="col">
				<label for="paper_size">Size</label>
				<input class="form-control" type="text" id="paper_size" name="paper_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="paper_gsm">GSM</label>
				<input class="form-control" type="text" id="paper_gsm" name="paper_gsm">
			</div>

			<div class="col">
				<label for="paper_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="paper_number_of_sheets" name="paper_number_of_sheets">
			</div>

			<div class="col">
				<label for="paper_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="paper_rate" name="paper_rate">
			</div>

			<div class="col">
				<label for="paper_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="paper_vendor" name="paper_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--PAPER DETAILS END-->

<!--PRINTING DETAILS START-->
<div id="printing_form" style="display: none;">
	<hr>
	<h2>Printing Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="printing_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="printing_quantity" name="printing_quantity">
			</div>

			<div class="col">
				<label for="printing_number_of_cols">Col</label>
				<input class="form-control" type="number" step="1" min="0" id="printing_number_of_cols" name="printing_number_of_cols">
			</div>

			<div class="col">
				<label for="printing_size">Size</label>
				<input class="form-control" type="text" id="printing_size" name="printing_size">
			</div>
		</div>

		<div class="form-row">

			<div class="col">
				<label for="printing_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="printing_rate" name="printing_rate">
			</div>

			<div class="col">
				<label for="printing_detail">Detail</label>
				<input class="form-control" type="text" id="printing_detail" name="printing_detail">
			</div>

			<div class="col">
				<label for="printing_impression">Impression</label>
				<input class="form-control" type="number" step="0.01" min="0" id="printing_impression" name="printing_impression">
			</div>

			<div class="col">
				<label for="printing_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="printing_vendor" name="printing_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--PRINTING DETAILS END -->

<!--BINDING START-->
<div id="binding_form" style="display: none;">
	<hr>
	<h2>Binding</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="binding_pf">P/f</label>
				<input class="form-control" type="text" id="binding_pf" name="binding_pf">
			</div>

			<div class="col">
				<label for="binding_size">Size</label>
				<input class="form-control" type="text" id="binding_size" name="binding_size">
			</div>

			<div class="col">
				<label for="binding_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="binding_type" name="binding_type">
						<option value="side">Side</option>
						<option value="top">Top</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="binding_product">Binding Product</label>
				<div class="form-group">
					<select class="form-control" id="binding_product" name="binding_product">
						<option value="book">Book</option>
						<option value="pad">Pad</option>
					</select>
				</div>
			</div>

		</div>
			<div class="form-row">
				<div class="col">
					<label for="binding_quantity">Quantity</label>
					<input class="form-control" type="number" min="0" step="1" id="binding_quantity" name="binding_quantity">
				</div>

				<div class="col">
					<label for="binding_rate">Rate</label>
					<input class="form-control" type="number" step="0.01" min="0" id="binding_rate" name="binding_rate">
				</div>

				<div class="col">
					<label for="binding_binding_type">Binding Type</label>
					<div class="form-group">
						<select class="form-control" id="binding_binding_type" name="binding_binding_type">
							<option value="sada">Sada</option>
							<option value="dp">DP</option>
							<option value="threefold">3 fold</option>
							<option value="rexin">Rexin</option>
							<option value="cloth">Cloth</option>
							<option value="packet">Packet</option>
							<option value="custom">Custom</option>
						</select>
					</div>
				</div>

				<div class="col">
					<label for="binding_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="binding_vendor" name="binding_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
				</div>

		</div>
</div>

<!--BINDING END-->


<!--CTP START-->
<div id="ctp_form" style="display: none;">
	<hr>
	<h2>CTP</h2>
	<hr>
		<div class="form-row">

			<div class="col">
					<label for="ctp_type">Type</label>
					<div class="form-group">
						<select class="form-control" id="ctp_type" name="ctp_type">
							<option value="new">New</option>
							<option value="old">Old</option>
						</select>
					</div>
			</div>

			<div class="col">
				<label for="ctp_size">Size</label>
				<input class="form-control" type="text" id="ctp_size" name="ctp_size">
			</div>

			<div class="col">
					<label for="ctp_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="ctp_vendor" name="ctp_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
			</div>

		</div>

		<div class="form-row">
			<div class="col">
				<label for="ctp_number_of_plates">Number of Plates</label>
				<input class="form-control" type="text" id="ctp_number_of_plates" name="ctp_number_of_plates">
			</div>

			<div class="col">
				<label for="ctp_rate">Rate</label>
				<input class="form-control" type="text" id="ctp_rate" name="ctp_rate">
			</div>

			<div class="col">
				<label for="ctp_quantity">Quantity</label>
				<input class="form-control" type="text" id="ctp_quantity" name="ctp_quantity">
			</div>

		</div>
</div>
<!--CTP END-->

<!--SPECIAL PROCESS START-->
<div id="specialprocess_form" style="display: none;">
	<hr>
	<h2>Special Process</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="specialprocess_type">UV</label>
				<div class="form-group">
					<select class="form-control" id="specialprocess_type" name="specialprocess_type">
						<option value="embossing">Embossing</option>
						<option value="debossing">Debossing</option>
						<option value="foiling">Foiling</option>
					</select>
				</div>
			</div>

			<div class="col">
				<label for="specialprocess_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="specialprocess_quantity" name="specialprocess_quantity">
			</div>

			<div class="col">
				<label for="specialprocess_impression">Impression</label>
				<input class="form-control" type="number" step="0.01" min="0" id="specialprocess_impression" name="specialprocess_impression">
			</div>

			<div class="col">
				<label for="specialprocess_size">Size</label>
				<input class="form-control" type="text" id="specialprocess_size" name="specialprocess_size">
			</div>

			<div class="col">
				<label for="specialprocess_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="specialprocess_rate" name="specialprocess_rate">
			</div>

			<div class="col">
					<label for="specialprocess_vendor">Vendor</label>
						<div class="form-group">
							<select class="form-control" id="specialprocess_vendor" name="specialprocess_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
						</div>
			</div>

		</div>
</div>
<!--SP END-->

<!--RAISEUV START-->
<div id="raiseuv_form" style="display: none;">
	<hr>
	<h2>Raise UV</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="raiseuv_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="raiseuv_type" name="raiseuv_type">
						<option value="pvc">PVC</option>
						<option value="bopp">BOPP</option>
						<option value="matt">Matt</option>
						<option value="thermal">Thermal</option>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>


			<div class="col">
				<label for="raiseuv_size">Size</label>
				<input class="form-control" type="text" id="raiseuv_size" name="raiseuv_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="raiseuv_vendor">Vendor</label>
				<div class="form-group">
							<select class="form-control" id="raiseuv_vendor" name="raiseuv_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
				</div>
			</div>

			<div class="col">
				<label for="raiseuv_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="raiseuv_number_of_sheets" name="raiseuv_number_of_sheets">
			</div>

			<div class="col">
				<label for="raiseuv_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="raiseuv_quantity" name="raiseuv_quantity">
			</div>

			<div class="col">
				<label for="raiseuv_length">Length</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_length" name="raiseuv_length">
			</div>
			
			<div class="col">
				<label for="raiseuv_breadth">Breadth</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_breadth" name="raiseuv_breadth">
			</div>

			<div class="col">
				<label for="raiseuv_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="raiseuv_rate" name="raiseuv_rate">
			</div>

		</div>
</div>

<!--RAISE END-->

<!--VARNISH START-->
<div id="varnish_form" style="display: none;">
	<hr>
	<h2>Varnish</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="varnish_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="varnish_type" name="varnish_type">
						<option value="pvc">PVC</option>
						<option value="bopp">BOPP</option>
						<option value="matt">Matt</option>
						<option value="thermal">Thermal</option>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>


			<div class="col">
				<label for="varnish_size">Size</label>
				<input class="form-control" type="text" id="varnish_size" name="varnish_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="varnish_vendor">Vendor</label>
				<div class="form-group">
							<select class="form-control" id="varnish_vendor" name="varnish_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
				</div>
			</div>

			<div class="col">
				<label for="varnish_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="varnish_number_of_sheets" name="varnish_number_of_sheets">
			</div>

			<div class="col">
				<label for="varnish_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="varnish_quantity" name="varnish_quantity">
			</div>

			<div class="col">
				<label for="varnish_length">Length</label>
				<input class="form-control" type="number" step="0.01" min="0" id="varnish_length" name="varnish_length">
			</div>
			
			<div class="col">
				<label for="varnish_breadth">Breadth</label>
				<input class="form-control" type="number" step="0.01" min="0" id="varnish_breadth" name="varnish_breadth">
			</div>

			<div class="col">
				<label for="varnish_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="varnish_rate" name="varnish_rate">
			</div>

		</div>
</div>
<!--VARNISH END-->


<!--LAMINATION START-->
<div id="lamination_form" style="display: none;">
	<hr>
	<h2>Lamination</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="lamination_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="lamination_type" name="lamination_type">
						<option value="pvc">PVC</option>
						<option value="bopp">BOPP</option>
						<option value="matt">Matt</option>
						<option value="thermal">Thermal</option>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>


			<div class="col">
				<label for="lamination_size">Size</label>
				<input class="form-control" type="text" id="lamination_size" name="lamination_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="lamination_vendor">Vendor</label>
				<div class="form-group">
							<select class="form-control" id="lamination_vendor" name="lamination_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
				</div>
			</div>

			<div class="col">
				<label for="lamination_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="lamination_number_of_sheets" name="lamination_number_of_sheets">
			</div>

			<div class="col">
				<label for="lamination_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="lamination_quantity" name="lamination_quantity">
			</div>

			<div class="col">
				<label for="lamination_length">Length</label>
				<input class="form-control" type="number" step="0.01" min="0" id="lamination_length" name="lamination_length">
			</div>
			
			<div class="col">
				<label for="lamination_breadth">Breadth</label>
				<input class="form-control" type="number" step="0.01" min="0" id="lamination_breadth" name="lamination_breadth">
			</div>

			<div class="col">
				<label for="lamination_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="lamination_rate" name="lamination_rate">
			</div>

		</div>
</div>
<!--LAMINATION END-->

<!--POSITIVE START-->
<div id="positive_form" style="display: none;">
	<hr>
	<h2>Positive</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="positive_type">Type</label>
				<div class="form-group">
					<select class="form-control" id="positive_type" name="positive_type">
						<option value="pvc">PVC</option>
						<option value="bopp">BOPP</option>
						<option value="matt">Matt</option>
						<option value="thermal">Thermal</option>
						<option value="custom">Custom</option>
					</select>
				</div>
			</div>


			<div class="col">
				<label for="positive_size">Size</label>
				<input class="form-control" type="text" id="positive_size" name="positive_size">
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="positive_vendor">Vendor</label>
				<div class="form-group">
							<select class="form-control" id="positive_vendor" name="positive_vendor">
								{% for vendor in vendors %}
								<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
								{% endfor %}
							</select>
				</div>
			</div>

			<div class="col">
				<label for="positive_number_of_sheets">Number of sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="positive_number_of_sheets" name="positive_number_of_sheets">
			</div>

			<div class="col">
				<label for="positive_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="positive_quantity" name="positive_quantity">
			</div>

			<div class="col">
				<label for="positive_length">Length</label>
				<input class="form-control" type="number" step="0.01" min="0" id="positive_length" name="positive_length">
			</div>
			
			<div class="col">
				<label for="positive_breadth">Breadth</label>
				<input class="form-control" type="number" step="0.01" min="0" id="positive_breadth" name="positive_breadth">
			</div>

			<div class="col">
				<label for="positive_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="positive_rate" name="positive_rate">
			</div>

		</div>
</div>
<!--POSITIVE END-->

<!--CUTTING START-->
<div id="cutting_form" style="display: none;">
	<hr>
	<h2>Cutting Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="cutting_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="cutting_quantity" name="cutting_quantity">
			</div>

			<div class="col">
				<label for="cutting_size">Size</label>
				<input class="form-control" type="text" id="cutting_size" name="cutting_size">
			</div>

		</div>

		<div class="form-row">

			<div class="col">
				<label for="cutting_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="cutting_rate" name="cutting_rate">
			</div>

			<div class="col">
				<label for="cutting_paper">Paper</label>
				<input class="form-control" type="text" id="cutting_paper" name="cutting_paper">
			</div>

			<div class="col">
				<label for="cutting_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="cutting_vendor" name="cutting_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--CUTTING END-->

<!--PUNCHING START-->
<div id="punching_form" style="display: none;">
	<hr>
	<h2>Punching Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="punching_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="punching_quantity" name="punching_quantity">
			</div>

			<div class="col">
				<label for="punching_size">Size</label>
				<input class="form-control" type="text" id="punching_size" name="punching_size">
			</div>

		</div>

		<div class="form-row">

			<div class="col">
				<label for="punching_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="punching_rate" name="punching_rate">
			</div>

			<div class="col">
				<label for="punching_impression">Impression</label>
				<input class="form-control" type="text" id="punching_impression" name="punching_impression">
			</div>

			<div class="col">
				<label for="punching_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="punching_vendor" name="punching_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--PUNCHING END-->

<!--PASTING START-->
<div id="pasting_form" style="display: none;">
	<hr>
	<h2>Pasting Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="pasting_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="pasting_quantity" name="pasting_quantity">
			</div>

			<div class="col">
				<label for="pasting_size">Size</label>
				<input class="form-control" type="text" id="pasting_size" name="pasting_size">
			</div>

		</div>

		<div class="form-row">

			<div class="col">
				<label for="pasting_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="pasting_rate" name="pasting_rate">
			</div>

			<div class="col">
				<label for="pasting_impression">Impression</label>
				<input class="form-control" type="text" id="pasting_impression" name="pasting_impression">
			</div>

			<div class="col">
				<label for="pasting_number_of_pasting">Number of Pasting</label>
				<input class="form-control" type="number" step="1" min="0" id="pasting_number_of_pasting" name="pasting_number_of_pasting">
			</div>

			<div class="col">
				<label for="pasting_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="pasting_vendor" name="pasting_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--PASTING END-->

<!--FOLDING START-->
<div id="folding_form" style="display: none;">
	<hr>
	<h2>Folding Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="folding_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="folding_quantity" name="folding_quantity">
			</div>

			<div class="col">
				<label for="folding_size">Size</label>
				<input class="form-control" type="text" id="folding_size" name="folding_size">
			</div>

		</div>

		<div class="form-row">

			<div class="col">
				<label for="folding_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="folding_rate" name="folding_rate">
			</div>

			<div class="col">
				<label for="folding_impression">Impression</label>
				<input class="form-control" type="text" id="folding_impression" name="folding_impression">
			</div>

			<div class="col">
				<label for="folding_number_of_folds">Number of Folds</label>
				<input class="form-control" type="number" step="1" min="0" id="folding_number_of_folds" name="folding_number_of_folds">
			</div>

			<div class="col">
				<label for="folding_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="folding_vendor" name="folding_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--FOLDING END-->

<!--CREASING START-->
<div id="creasing_form" style="display: none;">
	<hr>
	<h2>Creasing Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="creasing_quantity">Quantity</label>
				<input class="form-control" type="number" step="1" min="0" id="creasing_quantity" name="creasing_quantity">
			</div>

			<div class="col">
				<label for="creasing_size">Size</label>
				<input class="form-control" type="text" id="creasing_size" name="creasing_size">
			</div>

		</div>

		<div class="form-row">

			<div class="col">
				<label for="creasing_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="creasing_rate" name="creasing_rate">
			</div>

			<div class="col">
				<label for="creasing_impression">Impression</label>
				<input class="form-control" type="text" id="creasing_impression" name="creasing_impression">
			</div>

			<div class="col">
				<label for="creasing_vendor">Vendor</label>
					<div class="form-group">
						<select class="form-control" id="creasing_vendor" name="creasing_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		</div>
</div>
<!--CREASING END-->

<!--PUNCH START-->
<div id="punch_form" style="display: none;">
	<hr>
	<h2>Punch Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="punch_number_of_sheets">Number of Sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="punch_number_of_sheets" name="punch_number_of_sheets">
			</div>

			<div class="col">
				<label for="punch_size">Size</label>
				<input class="form-control" type="text" id="punch_size" name="punch_size">
			</div>

			<div class="col">
				<label for="punch_amount">Amount</label>
				<input class="form-control" type="number" step="0.01" min="0" id="punch_amount" name="punch_amount">
			</div>

			<div class="col">
				<label for="punch_vendor">Vendor</label>
				<div class="form-group">
						<select class="form-control" id="punch_vendor" name="punch_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>

		</div>
</div>
<!--PUNCH END-->



<!--BLOCK START-->
<div id="block_form" style="display: none;">
	<hr>
	<h2>Block Details</h2>
	<hr>
		<div class="form-row">
			<div class="col">
				<label for="block_number_of_sheets">Number of Sheets</label>
				<input class="form-control" type="number" step="1" min="0" id="block_number_of_sheets" name="block_number_of_sheets">
			</div>

			<div class="col">
				<label for="block_size">Size</label>
				<input class="form-control" type="text" id="block_size" name="block_size">
			</div>

			<div class="col">
				<label for="block_amount">Amount</label>
				<input class="form-control" type="number" step="0.01" min="0" id="block_amount" name="block_amount">
			</div>

			<div class="col">
				<label for="block_vendor">Vendor</label>
				<div class="form-group">
						<select class="form-control" id="block_vendor" name="block_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
					</div>
			</div>

		</div>
</div>
<!--BLOCK END-->

<!--4COL START-->
<div id="fourcol_form" style="display: none;">
	<hr>
	<h2>4Col</h2>
	<hr>
		<div class="form-row">
		 <div class="col">
			<label for="fourcol_for">For</label>
			<div class="form-group">
				<select class="form-control" id="fourcol_for" name="fourcol_for">
					<option value="vcard">V Cards</option>
					<option value="lheads">L Heads</option>
					<option value="env">Env</option>
					<option value="pamp">Pamp</option>
				</select>
			</div>
		</div>


		<div class="col">
			<label for="fourcol_type">Type</label>
			<div class="form-group">
				<select class="form-control" id="fourcol_type" name ="fourcol_type">
					<option>--Select Type--</option>
					<option value="single">Single</option>
					<option value="frontback">Front Back</option>
				</select>
			</div>
		</div>
		<div class="col">
			<label for="fourcol_size">Size</label>
			<input class="form-control" type="text" id="fourcol_size" name="fourcol_size">
		</div>

		<div class="col">
				<label for="fourcol_vendor">Vendor</label>
				<div class="form-group">
						<select class="form-control" id="fourcol_vendor" name="fourcol_vendor">
							{% for vendor in vendors %}
							<option value={{vendor.pk}}>{{vendor.vendor_name}}</option>
							{% endfor %}
						</select>
				</div>
		</div>

	</div>
	<div class="form-row">

			<div class="col">
				<label for="fourcol_unit">Unit</label>
				<input class="form-control" type="number" step="0.01" min="0" id="fourcol_unit" name="fourcol_unit">
			</div>

			<div class="col">
				<label for="fourcol_rate">Rate</label>
				<input class="form-control" type="number" step="0.01" min="0" id="fourcol_rate" name="fourcol_rate">
			</div>

	</div>
</div>
<!--4COL END-->
<hr>
<div>
 	<input type="submit" class="btn btn-info btn-block" id="purchaseOrderFormSubmitBtn">
</div>
</form>


<!--FORM FOR SPECIFIC DETAILS END HERE-->
{% endblock %}

{% block extrascripts %}

<!--Atleast one check box checked.-->
<script>
	$(document).ready(function () {
    $('#purchaseOrderFormSubmitBtn').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("You must select atleast one process.");
        return false;
      }

    });
});
</script>

<!--If checkbox is checked then the input should be compulsory for paper checkbox-->

<script>
	$(function() {
  var checkbox = $("#paper_checkbox");
  var hidden = $("#paper_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#paper_quantity').prop('required', true); //to add required
	  $('#paper_color').prop('required', true);
	  $('#paper_gsm').prop('required', true);
	  $('#paper_number_of_sheets').prop('required', true);
	  $('#paper_rate').prop('required', true);
	  $('#paper_size').prop('required', true);
	  $('#paper_vendor').prop('required', true);
    } else {
      hidden.hide();
      $("#paper_quantity").val("");
      $('#paper_quantity').prop('required', false); //to remove required
	  $("#paper_color").val("");
      $('#paper_color').prop('required', false);
	  $("#paper_gsm").val("");
      $('#paper_gsm').prop('required', false);
	  $("#paper_number_of_sheets").val("");
      $('#paper_number_of_sheets').prop('required', false);
	  $("#paper_rate").val("");
      $('#paper_rate').prop('required', false);
	  $("#paper_size").val("");
      $('#paper_size').prop('required', false);
	  $("#paper_vendor").val("");
      $('#paper_vendor').prop('required', false);
	  
    }
  });
});
</script>

<script>

$(function() {
  var checkbox = $("#printing_checkbox");
  var hidden = $("#printing_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#printing_size').prop('required', true);
	  $('#printing_number_of_cols').prop('required', true);
	  $('#printing_quantity').prop('required', true);
	  $('#printing_detail').prop('required', true);
	  $('#printing_impression').prop('required', true);
	  $('#printing_rate').prop('required', true);
	  $('#printing_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#printing_size").val("");
      $('#printing_size').prop('required', false); //to remove required

	  $("#printing_number_of_cols").val("");
      $('#printing_number_of_cols').prop('required', false);

	  $("#printing_quantity").val("");
      $('#printing_quantity').prop('required', false);

	  $("#printing_detail").val("");
      $('#printing_detail').prop('required', false);

	  $("#printing_impression").val("");
      $('#printing_impression').prop('required', false);

	  $("#printing_rate").val("");
      $('#printing_rate').prop('required', false);

	  $("#printing_vendor").val("");
      $('#printing_vendor').prop('required', false);

    }
  });
});

</script>

<script>
$(function() {
  var checkbox = $("#binding_checkbox");
  var hidden = $("#binding_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#binding_quantity').prop('required', true); //to add required
	  $('#binding_rate').prop('required', true);
	  $('#binding_size').prop('required', true);
	  $('#binding_vendor').prop('required', true);
	  $('#binding_pf').prop('required', true);
	  $('#binding_product').prop('required', true);
	  $('#binding_binding_type').prop('required', true);
	  $('#binding_type').prop('required', true);
    } else {
      hidden.hide();
      $("#binding_quantity").val("");
      $('#binding_quantity').prop('required', false); //to remove required

	  $("#binding_rate").val("");
      $('#binding_rate').prop('required', false);

	  $("#binding_size").val("");
      $('#binding_size').prop('required', false);

	  $("#binding_vendor").val("");
      $('#binding_vendor').prop('required', false);

	  $("#binding_pf").val("");
      $('#binding_pf').prop('required', false);

	  $("#binding_product").val("");
      $('#binding_product').prop('required', false);

	  $("#binding_binding_type").val("");
      $('#binding_binding_type').prop('required', false);

	  $("#binding_type").val("");
      $('#binding_type').prop('required', false);	  
    }
  });
});
</script>

<script>

$(function() {
  var checkbox = $("#ctp_checkbox");
  var hidden = $("#ctp_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#ctp_quantity').prop('required', true); //to add required
	  $('#ctp_rate').prop('required', true);
	  $('#ctp_size').prop('required', true);
	  $('#ctp_vendor').prop('required', true);
	  $('#ctp_number_of_plates').prop('required', true);
	  $('#ctp_type').prop('required', true);
    } else {
      hidden.hide();
      $("#ctp_quantity").val("");
      $('#ctp_quantity').prop('required', false); //to remove required

	  $("#ctp_rate").val("");
      $('#ctp_rate').prop('required', false);

	  $("#ctp_size").val("");
      $('#ctp_size').prop('required', false);

	  $("#ctp_vendor").val("");
      $('#ctp_vendor').prop('required', false);

	  $("#ctp_number_of_plates").val("");
      $('#ctp_number_of_plates').prop('required', false);

	  $("#ctp_type").val("");
      $('#ctp_type').prop('required', false);

    }
  });
});

</script>


<script>

$(function() {
  var checkbox = $("#specialprocess_checkbox");
  var hidden = $("#specialprocess_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#specialprocess_quantity').prop('required', true); //to add required
	  $('#specialprocess_rate').prop('required', true);
	  $('#specialprocess_size').prop('required', true);
	  $('#specialprocess_vendor').prop('required', true);
	  $('#specialprocess_impression').prop('required', true);
	  $('#specialprocess_type').prop('required', true);
    } else {
      hidden.hide();
      $("#specialprocess_quantity").val("");
      $('#specialprocess_quantity').prop('required', false); //to remove required

	  $("#specialprocess_rate").val("");
      $('#specialprocess_rate').prop('required', false);

	  $("#specialprocess_size").val("");
      $('#specialprocess_size').prop('required', false);

	  $("#specialprocess_vendor").val("");
      $('#specialprocess_vendor').prop('required', false);

	  $("#specialprocess_impression").val("");
      $('#specialprocess_impression').prop('required', false);

	  $("#specialprocess_type").val("");
      $('#specialprocess_type').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#raiseuv_checkbox");
  var hidden = $("#raiseuv_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#raiseuv_type').prop('required', true); //to add required
	  $('#raiseuv_size').prop('required', true);
	  $('#raiseuv_number_of_sheets').prop('required', true);
	  $('#raiseuv_quantity').prop('required', true);
	  $('#raiseuv_length').prop('required', true);
	  $('#raiseuv_breadth').prop('required', true);
	  $('#raiseuv_rate').prop('required', true);
	  $('#raiseuv_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#raiseuv_type").val("");
      $('#raiseuv_type').prop('required', false); //to remove required

	  $("#raiseuv_size").val("");
      $('#raiseuv_size').prop('required', false);

	  $("#raiseuv_number_of_sheets").val("");
      $('#raiseuv_number_of_sheets').prop('required', false);

	  $("#raiseuv_quantity").val("");
      $('#raiseuv_quantity').prop('required', false);

	  $("#raiseuv_length").val("");
      $('#raiseuv_length').prop('required', false);

	  $("#raiseuv_breadth").val("");
      $('#raiseuv_breadth').prop('required', false);

	  $("#raiseuv_rate").val("");
      $('#raiseuv_rate').prop('required', false);

	  $("#raiseuv_vendor").val("");
      $('#raiseuv_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#varnish_checkbox");
  var hidden = $("#varnish_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#varnish_type').prop('required', true); //to add required
	  $('#varnish_size').prop('required', true);
	  $('#varnish_number_of_sheets').prop('required', true);
	  $('#varnish_quantity').prop('required', true);
	  $('#varnish_length').prop('required', true);
	  $('#varnish_breadth').prop('required', true);
	  $('#varnish_rate').prop('required', true);
	  $('#varnish_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#varnish_type").val("");
      $('#varnish_type').prop('required', false); //to remove required

	  $("#varnish_size").val("");
      $('#varnish_size').prop('required', false);

	  $("#varnish_number_of_sheets").val("");
      $('#varnish_number_of_sheets').prop('required', false);

	  $("#varnish_quantity").val("");
      $('#varnish_quantity').prop('required', false);

	  $("#varnish_length").val("");
      $('#varnish_length').prop('required', false);

	  $("#varnish_breadth").val("");
      $('#varnish_breadth').prop('required', false);

	  $("#varnish_rate").val("");
      $('#varnish_rate').prop('required', false);

	  $("#varnish_vendor").val("");
      $('#varnish_vendor').prop('required', false);

    }
  });
});

</script>



<script>

$(function() {
  var checkbox = $("#positive_checkbox");
  var hidden = $("#positive_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#positive_type').prop('required', true); //to add required
	  $('#positive_size').prop('required', true);
	  $('#positive_number_of_sheets').prop('required', true);
	  $('#positive_quantity').prop('required', true);
	  $('#positive_length').prop('required', true);
	  $('#positive_breadth').prop('required', true);
	  $('#positive_rate').prop('required', true);
	  $('#positive_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#positive_type").val("");
      $('#positive_type').prop('required', false); //to remove required

	  $("#positive_size").val("");
      $('#positive_size').prop('required', false);

	  $("#positive_number_of_sheets").val("");
      $('#positive_number_of_sheets').prop('required', false);

	  $("#positive_quantity").val("");
      $('#positive_quantity').prop('required', false);

	  $("#positive_length").val("");
      $('#positive_length').prop('required', false);

	  $("#positive_breadth").val("");
      $('#positive_breadth').prop('required', false);

	  $("#positive_rate").val("");
      $('#positive_rate').prop('required', false);

	  $("#positive_vendor").val("");
      $('#positive_vendor').prop('required', false);

    }
  });
});

</script>


<script>

$(function() {
  var checkbox = $("#lamination_checkbox");
  var hidden = $("#lamination_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#lamination_type').prop('required', true); //to add required
	  $('#lamination_size').prop('required', true);
	  $('#lamination_number_of_sheets').prop('required', true);
	  $('#lamination_quantity').prop('required', true);
	  $('#lamination_length').prop('required', true);
	  $('#lamination_breadth').prop('required', true);
	  $('#lamination_rate').prop('required', true);
	  $('#lamination_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#lamination_type").val("");
      $('#lamination_type').prop('required', false); //to remove required

	  $("#lamination_size").val("");
      $('#lamination_size').prop('required', false);

	  $("#lamination_number_of_sheets").val("");
      $('#lamination_number_of_sheets').prop('required', false);

	  $("#lamination_quantity").val("");
      $('#lamination_quantity').prop('required', false);

	  $("#lamination_length").val("");
      $('#lamination_length').prop('required', false);

	  $("#lamination_breadth").val("");
      $('#lamination_breadth').prop('required', false);

	  $("#lamination_rate").val("");
      $('#lamination_rate').prop('required', false);

	  $("#lamination_vendor").val("");
      $('#lamination_vendor').prop('required', false);

    }
  });
});

</script>


<script>

$(function() {
  var checkbox = $("#cutting_checkbox");
  var hidden = $("#cutting_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#cutting_size').prop('required', true);
	  $('#cutting_quantity').prop('required', true);
	  $('#cutting_paper').prop('required', true);
	  $('#cutting_rate').prop('required', true);
	  $('#cutting_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#cutting_size").val("");
      $('#cutting_size').prop('required', false); //to remove required

	  $("#cutting_quantity").val("");
      $('#cutting_quantity').prop('required', false);

	  $("#cutting_paper").val("");
      $('#cutting_paper').prop('required', false);

	  $("#cutting_rate").val("");
      $('#cutting_rate').prop('required', false);

	  $("#cutting_vendor").val("");
      $('#cutting_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#punching_checkbox");
  var hidden = $("#punching_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#punching_size').prop('required', true);
	  $('#punching_quantity').prop('required', true);
	  $('#punching_impression').prop('required', true);
	  $('#punching_rate').prop('required', true);
	  $('#punching_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#punching_size").val("");
      $('#punching_size').prop('required', false); //to remove required

	  $("#punching_quantity").val("");
      $('#punching_quantity').prop('required', false);

	  $("#punching_impression").val("");
      $('#punching_impression').prop('required', false);

	  $("#punching_rate").val("");
      $('#punching_rate').prop('required', false);

	  $("#punching_vendor").val("");
      $('#punching_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#pasting_checkbox");
  var hidden = $("#pasting_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#pasting_size').prop('required', true);
	  $('#pasting_quantity').prop('required', true);
	  $('#pasting_impression').prop('required', true);
	  $('#pasting_rate').prop('required', true);
	  $('#pasting_vendor').prop('required', true);
	  $('#pasting_number_of_pasting').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#pasting_size").val("");
      $('#pasting_size').prop('required', false); //to remove required

	  $("#pasting_quantity").val("");
      $('#pasting_quantity').prop('required', false);

	  $("#pasting_impression").val("");
      $('#pasting_impression').prop('required', false);

	  $("#pasting_rate").val("");
      $('#pasting_rate').prop('required', false);

	  $("#pasting_vendor").val("");
      $('#pasting_vendor').prop('required', false);

	  $("#pasting_number_of_pasting").val("");
      $('#pasting_number_of_pasting').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#folding_checkbox");
  var hidden = $("#folding_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#folding_size').prop('required', true);
	  $('#folding_quantity').prop('required', true);
	  $('#folding_impression').prop('required', true);
	  $('#folding_rate').prop('required', true);
	  $('#folding_vendor').prop('required', true);
	  $('#folding_number_of_folds').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#folding_size").val("");
      $('#folding_size').prop('required', false); //to remove required

	  $("#folding_quantity").val("");
      $('#folding_quantity').prop('required', false);

	  $("#folding_impression").val("");
      $('#folding_impression').prop('required', false);

	  $("#folding_rate").val("");
      $('#folding_rate').prop('required', false);

	  $("#folding_vendor").val("");
      $('#folding_vendor').prop('required', false);

	  $("#folding_number_of_folds").val("");
      $('#folding_number_of_folds').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#creasing_checkbox");
  var hidden = $("#creasing_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#creasing_size').prop('required', true);
	  $('#creasing_quantity').prop('required', true);
	  $('#creasing_impression').prop('required', true);
	  $('#creasing_rate').prop('required', true);
	  $('#creasing_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#creasing_size").val("");
      $('#creasing_size').prop('required', false); //to remove required

	  $("#creasing_quantity").val("");
      $('#creasing_quantity').prop('required', false);

	  $("#creasing_impression").val("");
      $('#creasing_impression').prop('required', false);

	  $("#creasing_rate").val("");
      $('#creasing_rate').prop('required', false);

	  $("#creasing_vendor").val("");
      $('#creasing_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#punch_checkbox");
  var hidden = $("#punch_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#punch_size').prop('required', true);
	  $('#punch_number_of_sheets').prop('required', true);
	  $('#punch_amount').prop('required', true);
	  $('#punch_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#punch_size").val("");
      $('#punch_size').prop('required', false); //to remove required

	  $("#punch_number_of_sheets").val("");
      $('#punch_number_of_sheets').prop('required', false);

	  $("#punch_amount").val("");
      $('#punch_amount').prop('required', false);

	  $("#punch_vendor").val("");
      $('#punch_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#block_checkbox");
  var hidden = $("#block_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#block_size').prop('required', true);
	  $('#block_number_of_sheets').prop('required', true);
	  $('#block_amount').prop('required', true);
	  $('#block_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#block_size").val("");
      $('#block_size').prop('required', false); //to remove required

	  $("#block_number_of_sheets").val("");
      $('#block_number_of_sheets').prop('required', false);

	  $("#block_amount").val("");
      $('#block_amount').prop('required', false);

	  $("#block_vendor").val("");
      $('#block_vendor').prop('required', false);

    }
  });
});

</script>

<script>

$(function() {
  var checkbox = $("#fourcol_checkbox");
  var hidden = $("#fourcol_form");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
	  $('#fourcol_size').prop('required', true);
	  $('#fourcol_unit').prop('required', true);
	  $('#fourcol_rate').prop('required', true);
	  $('#fourcol_for').prop('required', true);
	  $('#fourcol_type').prop('required', true);
	  $('#fourcol_vendor').prop('required', true);
	  
    } else {
      hidden.hide();
      $("#fourcol_size").val("");
      $('#fourcol_size').prop('required', false); //to remove required

	  $("#fourcol_unit").val("");
      $('#fourcol_unit').prop('required', false);

	  $("#fourcol_rate").val("");
      $('#fourcol_rate').prop('required', false);

	  $("#fourcol_for").val("");
      $('#fourcol_for').prop('required', false);

	  $("#fourcol_type").val("");
      $('#fourcol_type').prop('required', false);

	  $("#fourcol_vendor").val("");
      $('#fourcol_vendor').prop('required', false);

    }
  });
});

</script>

{% endblock extrascripts %}
